#navbar {
    background-color: #33DAFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.order {
    display: inline;
}

.order a {
    text-align: center;
    text-decoration: none;
    padding: 20px 10px;
    color: black;
}

.order a:hover {
    background-color: #3361ff;
}

#photoID  {
    width: 100%;
    height: 300px;
}


.some-content {
    display: inline-block;
}

#last-content {
    margin-top: 30px;
    margin-left:  50px;
    width: 40%;
    background-color: red;
    border-style: solid;
    border-radius: 20px;
}

#right-menu-bar {
    position: absolute;
    top: 65%;
    right: 10%;
    width: 24%;
    background-color: yellow;
    object-fit: scale-size;
}

#postPhoto {
    width: 75%;
    height: 330px;
    object-fit: contain;
}

#moreStuff {
    margin-left:130px;
    margin-bottom: 100px;
}

.titles a {
    text-decoration: none
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #33DAFF;
  text-align: center
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.first {
    width: 20%;
}

.second {
    width: 80%;
    padding: 30px;
}

.art-img {
    margin: 30px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#detailsImage {
    width: 200px;
    height: 200px;
}

#article #detailsImage,#text-container {
    float: left;
    margin: 30px;
    margin-bottom:100px;
}








