<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'create' %}">Create</a>
      </li>
    </ul>
</nav>


{% block content %}
{% endblock %}


<div class="card-footer navbar-dark bg-dark footer fixed-bottom text-center">
      <small class="text-light text-center">Lone Wolf Productions</small>
</div>
</body>
</html>