{% extends 'base.html' %}


{% block content %}
<div class= "d-flex justify-content-center">
<div class="container w-50 p-3 shadow p-4 mb-4 bg-white rounded m-5 ">
<form method='post' enctype="multipart/form-data">
   <div class='d-flex flex-column justify-content-center' style='width:60%;margin:auto'>
   {% csrf_token %}
   {{ form }}
   <div class="d-flex justify-content-end">
       <button type="submit" class="btn m-1 rounded btn-primary">Create</button>
   </div>
   </div>
</form>
</div>
</div>

{% endblock %}