{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div id="navbar">
    <ul>
        <li class="order"><a href="{% url 'homepage' %}">HOME</a></li>
        <li class="order"><a href="{% url 'article' %}">CONTENTS</a></li>
    </ul>
    <img src="{% static 'top.jpg' %}" id="photoID">
</div>

<div id="article">
    <img src="{{ post.url_field }}" id="detailsImage"><div id="text-container">
        <h2>{{ post.title }}</h2>
        <p>{{ post.post_info }}</p>
    </div>
</div>
<footer>That's my noobish blog design</footer>
</body>
</html>